<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div id="header">
        <h1>Sistema Vuelos</h1>
        <nav id="nav">
            <a>@Html.ActionLink("Home", "Index", "Home")</a>
            <a> @Html.ActionLink("Vuelos", "Index", "Vuelo")</a>
        </nav>
    </div>
    <div id="content">
        @RenderBody()        
    </div>
    <div id="footer">
        <h3>Info@vuelos.com</h3>
    </div>


</body>
</html>